.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #303030;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.container {
  overflow: auto;
}

p {
  margin: 0.75em 0;
}


.current {
}

h1 {
  margin-top: 0px;
  text-align: center;
  width: 100%;
  font-size: 26px;
}

h2 {
  font-size: 22px
}

footer {
  box-sizing: border-box;
  bottom: 0px;
  height: 0px;
  transition: all ease 0.6s;
  width: 100%;
  transition: ease 1s all;
  display: flex;
  background: #eeeeee;
  /*padding: 5px 20px;*/
  position: absolute;

}

footer p {
  color: #000000;
  margin: 0px;
}

footer .circle {
  margin-top: 0px;
}

#step-link {

}

.breadcrumbs {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.breadcrumbs div {
  opacity: 0.3;
  flex: 1 0 10%; /* explanation below */
  margin: 2% 1%;
}



.breadcrumbs div img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.selected {
  font-weight: bold;
}




.current {
  opacity: 1!important;
}

.summary p {
  text-align: left;
}


.disabled {
  opacity: 0.6;
}

.disabled div p {
  color: #bfbdbd;
}

.teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.team {
  
  text-align: left;
  padding: 0px 20px;
  background-color: #eeeeee;
  font-size: 14px;

  box-sizing: border-box;
  margin-bottom: 10px;
  width: calc(1/2*100% - (1 - 1/3)*10px);
}


.scorers  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  top: -2000px;
  position: absolute;
}



.player   {
  text-align: left;
  padding: 0px 20px;
  background-color: #eeeeee;
  font-size: 14px;

  box-sizing: border-box;
  margin-bottom: 10px;
  width: calc(1*100% - (1 - 1/3)*10px);

}



.circle {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  float: left;
  margin-top: 10px;
  margin-right: 8px;
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 25px;
}

.summaryline {
  width: 100%;
    height: 30px;
  display: flex;

  
}

.remove {
  height: 19px;
  width: 19px;
  margin-right: 20px;
  float: right;
  position: absolute;
  right: 10px;
}



.confirm {
  background: #303030;
  width: 60%;
  height: 100px;
  opacity: 0;
  position: absolute;
  transition: all ease 1s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
    border-radius: 6px;

}

.btn {
  padding: 15px 30px;
  background: yellow;
  border-radius: 6px;
  height: 20px;
}

.signup {
  transition: all ease 1s;
  opacity: 1;
}
.top-scorers {

    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -9999;
    height: 100%;
    top: -1000px;
    opacity: 0;


}





.selectionSummary {
  background: #303030;
  width: 80%;
  height: auto;
  opacity: 0;
  position: absolute;
  transition: all ease 1s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -2000px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
    border-radius: 6px;

}


.selection-inner {
  width: 100%;
  color: #ffffff;
  padding: 15px;
}

.btn-cont {
  display: flex;
  flex-wrap: wrap;
}

.btn-cont .btn {
   display: inline-block;
    margin:10px 0 0 2%;
    flex-grow: 1;
    width: calc(50% * (1/2) - 10px - 1px);
    color: #000000;


  }


.off {
  opacity: 0;
}

.on {
  opacity: 1;
  top: 120px;
}

.backBtn {
  width: 40px;
  position: absolute;
  left: 15px;
  top: 20px;
  display: none;

}

.display {
  display: block;
}
.complete {
    opacity: 0;
    top:-1000px;
    position:absolute;
}

.viewing {
  opacity: 1;
  top: 80px;
}

.view {
  top: 100px;
}

.disabled .circle {
  transition: ease all 1s;
  opacity: 0;
}

#root {
  overflow: hidden;
}

/*.summaryline .circle {
  opacity: 0;
  transition: ease all 1s;

}*/